.section {
	margin: 20px 0;
	background-color: #fff;
	box-shadow: 0 0 7px #ccc;
}

.section__header {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
}

@media (max-width: 768px) {
	.section__header {
		grid-template-columns: 1fr;
	}
}

.section__body {
	min-height: 40px;
	border-top: 2px solid #ddd;
}

.section__title {
	margin: 0;
	padding: 20px;
	font-weight: 900;
}

@media (max-width: 576px) {
	.section__title {
		font-size: 20px;
	}
}